body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.header {
  display: inline-block;
  font-size: 2em;
  margin-bottom: 5px;
}

.sub-text {
  color: #999;
  font-size: 1.5em;
  line-height: 1.4em;
}

.links {
  display: flex;
  height: auto;
  margin-top: 20px;
  max-height: 100px;
  overflow: hidden;
  transition: max-height 1s ease-out;
}

.links.collapsed {
  max-height: 0;
}

.links .link {
  background-color: #fdfdfd;
  border-radius: 50%;
  border: 1px solid #ccc;
  cursor: pointer;
  margin: 0 10px;
  padding: 11px;
}

.links .link:hover {
  background-color: #eee;
}

.links .link p {
  font-size: 0.8em;
  margin-bottom: 0;
}

.fill-black {
  fill: #000;
}
